@import "tailwindcss";

.logo-font {
    font-family: 'Rouge Script', cursive;
    font-size: 32px;
}
body {
    font-family: 'Lexend', sans-serif;
    background-color: rgb(255, 249, 249);
}
.extreme-blur::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(255, 255, 255, 0.891);
    backdrop-filter: blur(100px);
    /* Much stronger blur than Tailwind provides */
    z-index: -1;
}

.body-home-bg {
    background-color: #ffefef;
}